<!DOCTYPE html>
<html lang="pt-br" data-theme="default-theme" data-mode="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/variable.css">
    <link rel="stylesheet" href="../static/styles/themes.css">
    <link rel="icon" type="image/png" href="../static/logos/logo.png">
    <script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@graph": [
        {
            "@type": "WebSite",
            "@id": "https://overwatch-card-game.onrender.com/",
            "name": "Overwatch Card Game",
            "url": "https://overwatch-card-game.onrender.com/",
            "inLanguage": [
                "pt-BR",
                "en-US"
            ]
        },
        {
            "@type": "VideoGame",
            "name": "Overwatch Card Game",
            "genre": "Card Game",
            "description": "Um jogo de cartas colecionáveis para navegador inspirado no universo de Overwatch, com abertura de pacotes, criação de decks, loja e batalhas entre jogadores.",
            "applicationCategory": "Game",
            "genre": [
                "Card Game",
                "Collectible Card Game"
            ],
            "gamePlatform": [
                "Web Browser"
            ],
            "operatingSystem": "Web Browser",
            "inLanguage": [
            "pt-BR",
            "en-US"
            ],
            "author": {
                "@type": "Person",
                "name": "Hetrisley Gomes"
            },
            "inAccessibleForFree": true,
            "url": "https://overwatch-card-game.onrender.com/"
        }
    ]
    }
    </script>
    <title>Overwatch Card-Game</title>
</head>
<body>
    {% block conteudo %}
    {% endblock %}
</body>
</html>