{% extends 'base.html' %}
{% block conteudo %}
<link rel="stylesheet" href="../static/styles/battle.css">

<div class="battle-container">

    <!-- 🔝 TOPO (players + vida + timer) -->
    <div class="top-bar">
        <div class="player player-left">
            <img src="" class="avatar" id="avatar-1">
            <div class="hp-bar">
                <div class="hp-fill" id="hp-p1"></div>
            </div>
        </div>

        <div class="timer" id="timer">
            30
        </div>

        <div class="player player-right">
            <img src="" class="avatar" id="avatar-2">
            <div class="hp-bar">
                <div class="hp-fill" id="hp-p2"></div>
            </div>
        </div>
    </div>


    <!-- ⚔️ ÁREA DE COMBATE -->
    <div class="arena">

        <div class="card-slot" id="slot-p1">
            <span>Carta Jogador 1</span>
        </div>

        <div class="card-slot" id="slot-p2">
            <span>Carta Jogador 2</span>
        </div>

    </div>


    <!-- 🧩 ÁREA DO PLAYER -->
    <div class="bottom-area">

        <!-- 🃏 Deck -->
        <div class="deck" id="deck">
            <div class="card-layer"></div>
            <div class="card-layer"></div>
            <div class="card-layer"></div>
            <span>Deck</span>
        </div>

        <!-- ✋ Mão -->
        <div class="hand" id="hand">
            <!-- cartas via JS -->
        </div>

        <!-- 🗑️ Descarte -->
        <div class="discard">
            <span>Descarte</span>
        </div>

    </div>

</div>
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
<script>
const socket = io();
const STATIC_URL = "{{ url_for('static', filename='') }}";

var game_state = {{ game_state | tojson }};
const jogadores = {{ jogadores | tojson }};
var userId = {{ session["usuario_id"] }};

var jogador_1 = jogadores.find(j => j.id == userId);
var jogador_2 = jogadores.find(j => j.id != userId);

const PHASES = {
    PRE_GAME: "pre_game",
    DRAW: "draw",
    CHOOSE: "choose",
    BATTLE: "battle",
    RESULT: "result",
    END: "end"
};

const avatar1 = document.getElementById('avatar-1');
const avatar2 = document.getElementById('avatar-2');

const hp1 = document.getElementById('hp-p1');
const hp2 = document.getElementById('hp-p2');

function configUserView() {
    avatar1.src = STATIC_URL + "logos/" + jogador_1.icone;
    avatar2.src = STATIC_URL + "logos/" + jogador_2.icone;

    hp1.style.width = `${(jogador_1.hp / 20) * 100}%`;
    hp2.style.width = `${(jogador_2.hp / 20) * 100}%`;
}

async function gameFlow() {
    if (game_state.phase == "pre_game" && game_state.host == userId) {
        await shuffle_animation();
        socket.emit("fist_draw", {
            room_id: game_state.room_id
        });
    } else if (game_state['phase'] == "choose" || game_state['phase'] == "fist_choose") {
        enableCardSelection();
    } else if (game_state['phase'] == "pre_battle") {
        socket.emit("combate_1", {
            room_id: game_state.room_id
        })
    } else if (game_state['phase'] == "battle") {
        socket.emit("combate_resolver", {
            room_id: game_state.room_id
        })
    } else if (game_state['phase'] == "battle_end") {
        socket.emit("end_turn", {
            room_id: game_state.room_id
        })
    } else if (game_state['phase'] == "end_turn") {
        socket.emit("draw", {
            room_id: game_state.room_id
        })
    }
}
}

function createCardElement(cardData) {
    console.log(cardData)
    const card = document.createElement("div");

    // classes da carta
    card.classList.add(
        "card",
        cardData.classe.toLowerCase(),
        cardData.raridade?.toLowerCase() || "comum"
    );
    card.dataset.id = cardData.carta_id;

    card.innerHTML = `
        <div class="card-nome">
            ${cardData.carta_nome}
        </div>

        <div class="card-img">
            <img src="${STATIC_URL}images/${cardData.carta_img}" alt="${cardData.carta_nome}">
        </div>

        <div class="card-texto">
            <span>${cardData.classe}</span>
            <span>${cardData.subclasse}</span>
        </div>
    `;
    return card;
}

function enableCardSelection() {
    const cards = document.querySelectorAll(".card");
    cards.forEach(card => {
        card.onclick = () => {
            // evita múltiplos cliques
            if (game_state.phase !== "choose" && game_state.phase !== "fist_choose") return;
            const cardId = card.dataset.id;

            // destaque visual
            document.querySelectorAll(".card").forEach(c => {
                c.classList.remove("selected");
            });

            card.classList.add("selected");

            // enviar ao backend
            socket.emit("select_card", {
                room_id: game_state.room_id,
                card_id: cardId
            });

        };

    });

}
// SOCKETS =================================================
socket.on("game_state", async (data) => {
    game_state = data.game_state;

    jogador_1 = data.jogadores.find(j => j.id == userId);
    jogador_2 = data.jogadores.find(j => j.id != userId);

    if (game_state.phase == "fist_choose") {
        await draw_five_cards_animation(jogador_1);
    }

    gameFlow();
});

socket.on("start_battle", (data) => {
    game_state.phase = data.game_state_phase
    startBattleAnimation(data.selected_cards);
});

// ANIMAÇÕES ==============================================
function shuffle_animation() {
    return new Promise((resolve) => {
        const deck = document.getElementById("deck");

        // Remove caso já tenha
        deck.classList.remove("shuffling");

        // Força reflow pra reiniciar animação
        void deck.offsetWidth;

        // Adiciona animação
        deck.classList.add("shuffling");

        // Tempo da animação
        setTimeout(() => {
            deck.classList.remove("shuffling");
            resolve();
        }, 800);
    });
}

async function drawCard(cardData) {
    return new Promise((resolve) => {
        const deck = document.getElementById("deck");
        const hand = document.getElementById("hand");

        // posição do deck
        const deckRect = deck.getBoundingClientRect();

        // cria carta animada
        const animatedCard = createCardElement(cardData);
        animatedCard.classList.add("draw-card");

        // começa em cima do deck
        animatedCard.style.left = `${deckRect.left}px`;
        animatedCard.style.top = `${deckRect.top}px`;
        animatedCard.style.transform = "scale(0.3) rotate(-10deg)";
        animatedCard.style.opacity = "0";

        document.body.appendChild(animatedCard);

        // força render
        requestAnimationFrame(() => {
            // aparece
            animatedCard.style.opacity = "1";

            // posição alvo (final da mão)
            const handRect = hand.getBoundingClientRect();
            const cardIndex = hand.children.length;
            const targetX = handRect.left + (cardIndex * 240);
            const targetY = handRect.top;

            animatedCard.style.left = `${targetX}px`;
            animatedCard.style.top = `${targetY}px`;
            animatedCard.style.transform = "scale(1) rotate(0deg)";
        });

        // terminou animação
        setTimeout(() => {
            // adiciona carta real na mão
            const realCard = createCardElement(cardData);
            hand.appendChild(realCard);

            // remove temporária
            animatedCard.remove();
            resolve();

        }, 500);
    });
}

async function draw_five_cards_animation(player) {
    const hand = document.getElementById("hand");

    // limpa mão antes
    hand.innerHTML = "";
    for (const card of player.hand) {
        await drawCard(card);

        // pequeno delay entre compras
        await new Promise(resolve => setTimeout(resolve, 150));
    }
}

function animateCardToTarget(cardElement, targetElement) {
    return new Promise((resolve) => {
        const rectStart = cardElement.getBoundingClientRect();
        const rectTarget = targetElement.getBoundingClientRect();

        // clona a carta
        const animatedCard = cardElement.cloneNode(true);

        animatedCard.classList.add("draw-card");
        animatedCard.style.position = "fixed";
        animatedCard.style.left = `${rectStart.left}px`;
        animatedCard.style.top = `${rectStart.top}px`;
        animatedCard.style.width = `${rectStart.width}px`;
        animatedCard.style.height = `${rectStart.height}px`;
        animatedCard.style.zIndex = "9999";

        document.body.appendChild(animatedCard);

        // esconde original
        cardElement.style.visibility = "hidden";

        requestAnimationFrame(() => {
            animatedCard.style.transition = `
                left 0.5s ease,
                top 0.5s ease,
                transform 1s ease
            `;

            animatedCard.style.left = `${rectTarget.left}px`;
            animatedCard.style.top = `${rectTarget.top}px`;
            animatedCard.style.transform = "scale(1.05)";
        });

        setTimeout(() => {
            animatedCard.remove();
            resolve();
        }, 500);
    });
}

async function startBattleAnimation(battleData) {
    const player1Card = battleData[jogador_1.id];
    const player2Card = battleData[jogador_2.id];

    const slotP1 = document.getElementById("slot-p1");
    const slotP2 = document.getElementById("slot-p2");

    // =========================
    // CARTA DO JOGADOR
    // =========================
    console.log(player1Card)
    const playerCard = document.querySelector(
        `.hand .card[data-id="${player1Card.carta_id}"]`
    );
    playerCard.classList.remove("selected");


    // =========================
    // CARTA DO OPONENTE
    // =========================
    const enemyCard = createCardElement(player2Card);

    // cria perto do avatar inimigo
    const avatar2 = document.getElementById("avatar-2");
    const avatarRect = avatar2.getBoundingClientRect();

    enemyCard.classList.add("draw-card");
    enemyCard.style.position = "fixed";
    enemyCard.style.left = `${avatarRect.left}px`;
    enemyCard.style.top = `${avatarRect.top}px`;
    enemyCard.style.width = "180px";
    enemyCard.style.height = "250px";
    enemyCard.style.zIndex = "9999";

    document.body.appendChild(enemyCard);

    // =========================
    // ANIMAÇÕES AO MESMO TEMPO
    // =========================
    await Promise.all([
        animateCardToTarget(playerCard, slotP1),
        animateCardToTarget(enemyCard, slotP2)
    ]);

    // =========================
    // ADICIONA CARTAS NOS SLOTS
    // =========================

    slotP1.innerHTML = "";
    slotP2.innerHTML = "";

    // carta jogador
    slotP1.appendChild(playerCard);
    playerCard.style.visibility = "visible";

    // carta inimiga
    const enemyFinalCard = createCardElement(player2Card);
    slotP2.appendChild(enemyFinalCard);

    gameFlow()
}

// JOGO ==================
socket.emit("join_room", {
    room_id: game_state.room_id,
    user_id: jogador_1.id
});

configUserView();
gameFlow();
</script>
{% endblock %}