{% extends 'base.html' %}
{% block conteudo %}
<link rel="stylesheet" href="../static/styles/index.css">

<!-- TOPO -->
<div class="header">
    <div class="header-item" id="username">
        <div><img src="{{ url_for('static', filename='logos/' + user.profile_img ) }}" loading="lazy"></div>
        <div>Usuário: <span>{{ user.nome }}</span></div>
    </div>
    <div class="header-item">
        <div class="header-item" id="points">Ímpetos: <div class="points_box"><span id="pontos">{{ user.impetos }}</span></div></div>
        <div class="header-item" id="points">Pontos: <div class="points_box"><span id="pontos">{{ user.pontos }}</span></div></div>
    </div>
</div>

{% if ev %}
    <div class="subhead-event">
        <span class="event">
            {{ ev["nome"] }}
        </span>
    </div>
{% endif %}

{% block centro %}

{% endblock %}

<!-- RODAPÉ -->
<div class="footer">
    <a href="{{ url_for('main.home') }}">
        <button class="button {% if request.endpoint == 'main.home' %}ativo{% endif %}"
                {% if request.endpoint == 'main.home' %}disabled{% endif %}>
            Início
        </button>
    </a>
    <a href="{{ url_for('main.inventario') }}">
        <button class="button {% if request.endpoint == 'main.inventario' %}ativo{% endif %}"
                {% if request.endpoint == 'main.inventario' %}disabled{% endif %}>
            Inventário
        </button>
    </a>
    
    <a href="{{ url_for('main.collection') }}">
        <button class="button {% if request.endpoint == 'main.collection' %}ativo{% endif %}"
                {% if request.endpoint == 'main.collection' %}disabled{% endif %}>
            Coleções
        </button>
    </a>
    <a href="{{ url_for('main.loja') }}">
        <button class="button {% if request.endpoint == 'main.loja' %}ativo{% endif %}"
                {% if request.endpoint == 'main.loja' %}disabled{% endif %}>
            Loja
            {% if not user.has_already_get_daily_bonus and request.endpoint != 'main.loja' %}
                <div class="notification"></div>
            {% endif %}
        </button>
    </a>
    <a href="{{ url_for('main.settings') }}">
        <button class="button {% if request.endpoint == 'main.settings' %}ativo{% endif %}"
                {% if request.endpoint == 'main.settings' %}disabled{% endif %}>
            Opções
        </button>
    </a>
</div>
<div id="global-tooltip"></div>
<script>
    const tooltip = document.getElementById("global-tooltip");

    function initializeTooltips() {
        document.addEventListener("mousemove", (e) => {
            const tooltipClass = e.target.closest(".tooltipClass");
            const icon = e.target.closest(".icon_ref")
            if ((!tooltipClass || !tooltipClass.dataset.tooltip) && !icon) {
                tooltip.classList.remove("show");
                return;
            } 
            
            if (tooltipClass) {
                tooltip.innerHTML = tooltipClass.dataset.tooltip.replace(/\n/g, "<br>");
            } else if (icon){
                value = ""
                switch (icon.dataset.tooltip) {
                    case "golden.png":
                        value = "Arma dourada";
                        break;
                    case "alter.png":
                        value = "Arte alternativa";
                        break;
                }
                tooltip.innerHTML = value;
            }
            
            tooltip.style.left = `${e.clientX}px`;
            tooltip.style.top = `${e.clientY + 16}px`;
            tooltip.classList.add("show");
        });

        document.addEventListener("mouseleave", () => {
            tooltip.classList.remove("show");
        });
    }
    initializeTooltips()
</script>
{% endblock %}