{% extends 'base.html' %}
{% block conteudo %}
<link rel="stylesheet" href="../static/styles/login.css">


<form class="login-container" method="POST">
    <div class="img-div">
        <img src="../static/logos/logo.png" alt="Logo Overwatch" class="img">
    </div>

    <h1>Entrar</h1>

    <input 
        type="email" 
        name="email" 
        placeholder="Email"
        required
    >

    <input 
        type="password" 
        name="senha" 
        placeholder="Senha"
        required
    >
    <button type="submit">Continuar</button>


    <div class="extra">
        <span>Não tem conta?</span>
        <a href="/registrar">Criar conta</a>
    </div>

    {% if erro %}
        <div class="erro">{{ erro }}</div>
    {% endif %}
</form>
{% endblock %}