{% extends 'index.html' %}
{% block centro %}
<link rel="stylesheet" href="../static/styles/loja.css">
<!-- CENTRO -->
<nav class="loja_nav">
    {% if max_is_here %}
        <a href="{{ url_for('main.maximilien') }}">
        <button class="loja_nav_btn">
            Maximilien
        </button>
        </a>
    {% endif %}
    
    <a href="#pacotaco">
        <button class="loja_nav_btn">{{ _('bundle') }}</button>
    </a>
    <a href="#pacotes">
        <button class="loja_nav_btn">{{ _('packs') }}</button>
    </a>
    <a href="#recursos">
        <button class="loja_nav_btn">{{ _('recursos') }}</button>
    </a>
    <a href="#trocarpontos">
        <button class="loja_nav_btn">{{ _('points') }}</button>
    </a>
    <a href="#themes">
        <button class="loja_nav_btn">{{ _('themes') }}</button>
    </a>
    <a href="#icones">
        <button class="loja_nav_btn">{{ _('icons') }}</button>
    </a>
</nav>


<div class="main">
    <h1 class="oblique">Loja</h1>

    <div class="container">
    {% if proms %}
    <h2 class="sessao" id="pacotaco">{{ _('bundle') }}</h2>
        {% for prom in proms %}

            <div class="prateleira pacotaco">
                <div class="item promotion_pack">
                    <div class="item_name">{{ prom.nome }} {% if prom.last_days %}(Últimos dias){% endif %}</div>
                    <div class="item_description">
                        {{ prom.description }}
                    </div>

                    <div class="item_button">
                        {% set desativado = 
                            (user.pontos < prom.value and not prom.buy_with_impeto)
                            or (prom.buy_with_impeto and user.impetos < prom.value)
                            or prom['id'] in prom_log
                        %}
                        <button class="button {% if desativado %}desativado{% endif %}"
                        {% if desativado %}disabled{% endif %}
                        onclick="comprarPack('promotion_pack', '{{ prom.id }}', {{ prom.buy_with_impeto | tojson }})">
                            {% if not prom['id'] in prom_log %}
                                {{ prom.value }} {% if prom.buy_with_impeto %}{{ _('prism') }}{% else %}{{ _('point') }}{% endif %}{% if prom.value > 1 %}s{% endif %}
                            {% else %}
                                {{ _('obtained') }}
                            {% endif %}
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}
    
        <div class="prateleira-divider"></div>
    {% endif %}
    <h2 class="sessao" id="pacotes">{{ _('packs') }}</h2>
        <div class="prateleira">
            <!-- PACOTE COMUM  -->
            <div class="item">
                <div class="item_name">{{ _('common pack') }}</div>
                <div class="item_description">
                    {{ _('common pack description') }}
                </div>
                <div class="item_button">
                    <button class="button {% if user.pontos < 100 %}desativado{% endif %}"
                    {% if user.pontos < 100 %}disabled{% endif %}
                    onclick="comprarPack('pack', 'comum')">
                        100 {{ _('points') }}</button>
                </div>
            </div>
            <!-- PACOTE RARO -->
            <div class="item">
                <div class="item_name">{{ _('rare pack') }}</div>
                <div class="item_description">
                    {{ _('rare pack description') }}
                </div>
                <div class="item_button">
                    <button class="button {% if user.pontos < 500 %}desativado{% endif %}"
                    {% if user.pontos < 500 %}disabled{% endif %}
                    onclick="comprarPack('pack', 'raro')">
                    500 {{ _('points') }}</button>
                </div>
            </div>
            {% if user['nivel'] >= 6 %}
            <!-- PACOTE RADIANTE -->
            <div class="item">
                <div class="item_name">{{ _('radiant pack') }}</div>
                <div class="item_description">
                    {{ _('radiant pack description') }}
                </div>
                <div class="item_button">
                    <button class="button {% if user.pontos < 500 %}desativado{% endif %}"
                    {% if user.pontos < 500 %}disabled{% endif %}
                    onclick="comprarPack('pack', 'raro')">
                    500 {{ _('points') }}</button>
                </div>
            </div>
            {% endif %}

            {% if ev %}
            <!-- PACOTE DE EVENTO -->
                <div class="item especial">
                    <div class="item_name">{{ _('pack') }} {{ ev["nome"] }}</div>
                    <div class="item_description">
                        {{ ev.pack_description }}
                    </div>
                    <div class="item_button">
                        <button class="button {% if user.pontos < 300 %}desativado{% endif %}"
                        {% if user.pontos < 300 %}disabled{% endif %}
                        onclick="comprarPack('pack', 'especial')">
                        300 {{ _('points') }}</button>
                    </div>
                </div>
            {% endif %}   
        </div>
        <div class="prateleira-divider"></div>
    
    <h2 class="sessao" id="recursos">{{ _('recursos') }}</h2>
        <div class="prateleira">
            <!-- Bônus diário -->
            <div class="item">
                <div class="item_name">{{ _('daily bonus') }}</div>
                <div class="item_description">
                    50 Pontos obitíveis diariamente.
                </div>
                <div class="item_button">
                    {% if not user.has_already_get_daily_bonus %}
                            <button class="button"  onclick="comprarPack('extra', 'daily_bonus')">{{ _('get') }}</button>
                    {% else %}
                            <button class="button desativado" disabled>{{ _('obtained') }}</button>
                    {% endif %}
                </div>
            </div>

            <div class="item">
                <div class="item_name">Escudo de ofensiva</div>
                {% set limite = 1 if user.nivel <= 2 else (2 if user.nivel <= 5 else 3) %}
                <div class="item_description">Mantém sua ofensiva para seu próximo login.<br/>{{ user.bloqueio_ofensiva }}/{{ limite }}</div>
                <div class="item_button">
                    <button class="button {% if user.pontos < 100 or limite <= user.bloqueio_ofensiva %}desativado{% endif %}"
                        {% if user.pontos < 100 or limite <= user.bloqueio_ofensiva %}disabled{% endif %}
                        onclick="comprarPack('extra', 'escudo')">
                        100 {{ _('points') }}</button>
                </div>
            </div>
        </div>
        <div class="prateleira-divider"></div>

    <h2 class="sessao" id="trocarpontos">{{ _('points') }}</h2>
    <!-- COMPRAR PONTOS -->
        <div class="prateleira">
            <div class="item">
                <div class="item_name">300 {{ _('points') }}</div>
                <div class="item_description">
                    {{ _('buy_1_prism') }}
                </div>
                <div class="item_button">
                    <button class="button {% if user.impetos < 1 %}desativado{% endif %}"
                    {% if user.impetos < 1 %}disabled{% endif %}
                    onclick="comprarPack('pontos', '1', true)">
                    1  {{ _('prism') }}</button>
                </div>
            </div>

            <div class="item">
                <div class="item_name">1000 Pontos</div>
                <div class="item_description">
                    {{ _('buy_3_prism') }}
                </div>
                <div class="item_button">
                    <button class="button {% if user.impetos < 3 %}desativado{% endif %}"
                    {% if user.impetos < 3 %}disabled{% endif %}
                    onclick="comprarPack('pontos', '3', true)">
                    3  {{ _('prisms') }}</button>
                </div>
            </div>
        </div>
        <div class="prateleira-divider"></div>


    <h2 class="sessao" id="themes">{{ _('themes') }}</h2>
    <!-- COMPRAR TEMAS -->
        <div class="prateleira">
            {% for tema in themes %}
            {% if tema.disponivel %}
            <div class="item theme">
                <div class="item_name {{ tema.rarity }}">{{ _('theme') }} {{tema.nome}}</div>
                <div class="item_description">
                    {{ tema.descricao }}
                </div>
                <div class="item_button">
                    <button class="button {% if user.pontos < tema.price or tema.possui %}desativado{% endif %}"
                    {% if user.pontos < tema.price or tema.possui %}disabled{% endif %}
                    onclick="comprarPack('theme', '{{tema.id}}')">
                        {% if not tema.possui %}
                            {{ tema.price }} {{ _('points') }}
                        {% else %}
                            {{ _('obtained') }}
                        {% endif %}
                    </button>
                </div>
                <div class="theme_preview" style="background: {{tema.preview}};"></div>
            </div>
            {% endif %}
            {% endfor %}
        </div>

        <div class="prateleira-divider"></div>

    <h2 class="sessao" id="icones">{{ _('icons') }}</h2>
    <!-- COMPRAR IMAGENS -->
        <div class="prateleira">
            {% for img in imgs %}
            {% if img.disponivel %}
            <div class="item item-img">
                <div class="item_name">{{ _('icon') }} {{img.nome}}</div>
                <div class="item_img {{ img.rarity }}">
                    <img src="{{ url_for('static', filename='logos/' + img.img) }}" class="img" loading="lazy">
                </div>
                <div class="item_description">
                    {{ img.descricao }}
                </div>
                <div class="item_button">
                    <button class="button {% if user.pontos < img.price or img.possui %}desativado{% endif %}"
                    {% if user.pontos < img.price or img.possui %}disabled{% endif %}
                    onclick="comprarPack('icone', '{{img.id}}')">
                        {% if not img.possui %}
                            {{ img.price }} {{ _('points') }}
                        {% else %}
                            {{ _('obtained') }}
                        {% endif %}
                        
                    </button>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>


<script>
function comprarPack(tipo, id, buy_with_impetos=false) {
    const btn = event.target;

    if (btn.disabled) return;
    
    fetch("/comprar-pack", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({ tipo: tipo, id: id, buy_with_impetos: buy_with_impetos })
    })
    .then(res => res.json())
    .then(data => {
        if (data.success) {
            alert(data.msg);
            location.reload();

            // 🔥 atualizar UI sem reload
            atualizarPontos(data.pontos);
        } else {
            alert(data.erro);
        }
    });
};
</script>
{% endblock %}
