{% extends 'index.html' %}
{% block centro %}
<link rel="stylesheet" href="../static/styles/loja.css">
<!-- CENTRO -->
<div class="main">

    <h1>Loja</h1>

    <div class="container">
    {% if proms %}
    <h2 class="sessao">Pacotaço</h2>
        {% for prom in proms %}

            <div class="prateleira pacotaco">
                <div class="item promotion_pack">
                    <div class="item_name">{{ prom.nome }} {% if prom.last_days %}(Últimos dias){% endif %}</div>
                    <div class="item_description">
                        {{ prom.description }}
                    </div>

                    <div class="item_button">
                        {% set desativado = 
                            (user.pontos < prom.value and not prom.buy_with_impeto)
                            or (prom.buy_with_impeto and user.impetos < prom.value)
                            or user['id'] in prom.has_buy
                        %}
                        <button class="button {% if desativado %}desativado{% endif %}"
                        {% if desativado %}disabled{% endif %}
                        onclick="comprarPromotionPack('promotion_pack', '{{ prom.id }}', {{ prom.buy_with_impeto | tojson }})">
                            {% if not user['id'] in prom.has_buy %}
                                {{ prom.value }} {% if prom.buy_with_impeto %}Impetos{% else %}Pontos{% endif %}
                            {% else %}
                                Obtido
                            {% endif %}
                        </button>
                    </div>
                </div>
            </div>
        {% endfor %}
    
        <div class="prateleira-divider"></div>
    {% endif %}
        <h2 class="sessao">Pacotes</h2>
        <div class="prateleira">
            <!-- Item -->
            <div class="item">
                <div class="item_name">Pacote comum</div>
                <div class="item_description">
                    Pacote com cartas comuns.
                </div>
                <div class="item_button">
                    <button class="button {% if user.pontos < 100 %}desativado{% endif %}"
                    {% if user.pontos < 100 %}disabled{% endif %}
                    onclick="comprarPack('comum')">
                        100 Pontos</button>
                </div>
            </div>

            <div class="item">
                <div class="item_name">Pacote raro</div>
                <div class="item_description">
                    Pacote com maiores chances de cartas raras e míticas.
                </div>
                <div class="item_button">
                    <button class="button {% if user.pontos < 500 %}desativado{% endif %}"
                    {% if user.pontos < 500 %}disabled{% endif %}
                    onclick="comprarPack('raro')">
                    500 Pontos</button>
                </div>
            </div>

            <!-- Bônus diário -->
             <div class="item">
                <div class="item_name">Bônus diário</div>
                <div class="item_description">
                    50 Pontos obitíveis diariamente.
                </div>
                <div class="item_button">
                    {% if not user.has_already_get_daily_bonus %}
                            <button class="button"  onclick="comprarPack('bonus')">Obter</button>
                    {% else %}
                            <button class="button desativado" disabled>Obtido</button>
                    {% endif %}
                </div>
            </div>

            <!-- PACOTE DE EVENTO -->
            {% if ev %}
                <div class="item especial">
                    <div class="item_name">Pacote de {{ ev["nome"] }}</div>
                    <div class="item_description">
                        Pacote com uma carta especial de evento.
                    </div>
                    <div class="item_button">
                        <button class="button {% if user.pontos < 300 %}desativado{% endif %}"
                        {% if user.pontos < 300 %}disabled{% endif %}
                        onclick="comprarPack('especial')">
                        300 Pontos</button>
                    </div>
                </div>
            {% endif %}   
        </div>
        <div class="prateleira-divider"></div>

        <h2 class="sessao">Pontos</h2>
        <div class="prateleira">
            <!-- COMPRAR PONTOS -->
            <div class="item">
                <div class="item_name">300 Pontos</div>
                <div class="item_description">
                    Compre 300 Pontos pelo preço de 1 Impeto!
                </div>
                <div class="item_button">
                    <button class="button {% if user.impetos < 1 %}desativado{% endif %}"
                    {% if user.impetos < 1 %}disabled{% endif %}
                    onclick="comprarPack('pontos', true)">
                    1  Impeto</button>
                </div>
            </div>

            <div class="item">
                <div class="item_name">1000 Pontos</div>
                <div class="item_description">
                    Compre 1000 Pontos pelo preço de 3 Impetos!
                </div>
                <div class="item_button">
                    <button class="button {% if user.impetos < 3 %}desativado{% endif %}"
                    {% if user.impetos < 3 %}disabled{% endif %}
                    onclick="comprarPack('pontos2k', true)">
                    3  Impetos</button>
                </div>
            </div>
        </div>
        <div class="prateleira-divider"></div>

        <h2 class="sessao">Icones</h2>
        <div class="prateleira">
            {% for img in imgs %}
            {% if img.disponivel %}
            <div class="item item-img">
                <div class="item_name">Ícone {{img.nome}}</div>
                <div class="item_img">
                    <img src="{{ url_for('static', filename='logos/' + img.img) }}" class="img">
                </div>
                <div class="item_description">
                    {{ img.descricao }}
                </div>
                <div class="item_button">
                    <button class="button {% if user.pontos < img.price or img.possui %}desativado{% endif %}"
                    {% if user.pontos < img.price or img.possui %}disabled{% endif %}
                    onclick="comprarPack('icone', false, {{img.id}})">
                        {% if not img.possui %}
                            {{ img.price }} Pontos
                        {% else %}
                            Obtido
                        {% endif %}
                        
                    </button>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>


<script>
function comprarPack(tipo, buy_with_impetos=false, id=0) {
    const btn = event.target;

    if (btn.disabled) return;
    
    fetch("/comprar-pack", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({ tipo: tipo, buy_with_impetos: buy_with_impetos, id: id })
    })
    .then(res => res.json())
    .then(data => {
        if (data.success) {
            alert(data.msg);
            location.reload();

            // 🔥 atualizar UI sem reload
            atualizarPontos(data.pontos);
        } else {
            alert(data.erro);
        }
    });
};
function comprarPromotionPack(tipo, pack, buy_with_impetos){
    const btn = event.target;

    if (btn.disabled) return;

    fetch("/comprar-pack", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({ tipo: tipo, pacote: pack,  buy_with_impetos: buy_with_impetos})
    })
    .then(res => res.json())
    .then(data => {
        if (data.success) {
            alert(data.msg);
            location.reload();

            // 🔥 atualizar UI sem reload
            atualizarPontos(data.pontos);
        } else {
            alert(data.erro);
        }
    });
}
</script>
{% endblock %}