{% extends 'index.html' %}
{% block centro %}
<link rel="stylesheet" href="../static/styles/settings.css">
<!-- CENTRO -->
<div class="main">
    <div class="config-container">
        <!-- 👤 PERFIL -->
        <div class="profile-section">

            <h2>{{ _('profile') }}</h2>
            <!-- 🖼️ Foto atual -->
            <div class="profile-img-container">
                <img id="profile-preview"
                    src="{{ url_for('static', filename='logos/' + user.profile_img) }}"
                    alt="Foto de perfil" loading="lazy">
            </div>

            <!-- 📂 Seleção de imagem -->
            <div class="dropdown">
                <button class="dropdown-btn" onclick="toggleDropdown()">
                    {{ _('choose image') }}
                </button>

                <div id="dropdown-menu" class="dropdown-content">
                    {% for img in inv %}
                        {% if img.possui %}
                        <div class="img-container">
                            <img src="{{ url_for('static', filename='logos/' + img.img) }}"
                            class="option-img" loading="lazy"
                            onclick="selecionarImagem('{{ img.img }}')">
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

        </div>


        <div class="xp_field">
            <span>{{ _('level') }} {{ user["nivel"] }}</span>
            <span>|</span>
            <span>{{ user["xp"] }} XP</span>
            <div class="progress_xp_bar">
                <div class="progress_xp" style="width: {{ ((user['xp']) / (100 + user['nivel'] * 50)) * 100 }}%;"></div>
            </div>
        </div>

        <!-- ✏️ NOME -->
        <div class="name-section">
            <h2>{{ _('name') }}</h2>
            <div class="name-display">
                <span id="nome-texto">{{ user.nome }}</span>
                <button onclick="editarNome()">✏️</button>
            </div>
            <!-- input escondido -->
            <form method="POST" action="/atualizar-nome" id="nome-form" style="display: none;" class="nome-edit-area">
                <input type="text" name="novo_nome" id="nome-input" value="{{ user.nome }}" class="nome-edit" autocomplete="off">
                <button type="submit" class="nome-edit-btn">{{ _('save') }}</button>
            </form>
        </div>

        <div class="language-section">
            <h2>{{ _('language') }}</h2>
            <form action="/atualizar-lang" method="post" id="lang-form">
                <div class="radio-inputs">
                    <label class="radio">
                        <input type="radio" name="lang" value="br"
                        {% if lang == 'br' %}checked{% endif %}
                        onclick="showBtn('br')">
                        <span class="name">br</span>
                    </label>
                    <label class="radio">
                        <input type="radio" name="lang" value="en"
                        {% if lang == 'en' %}checked{% endif %}
                        onclick="showBtn('en')">
                        <span class="name">en</span>
                    </label>
                </div>
            
                <button id="lang-btn" class="lang-edit-btn" style="display: none;">✅</button>
            </form>
        </div>

        <!-- LOGOFF -->
        <div class="logoff_button">
            <a href="{{ url_for('main.logoff') }}">
                <button class="button">
                    {{ _('logoff') }}
                </button>
            </a>
        </div>

    </div>


    <div class="container">
        {% for msg in _('copyrights disclaimer') %}
            <p>{{ msg }}</p>
        {% endfor %}
    </div>
    <div class="space"></div>
    <div class="space"></div>
</div>

<script>
var lang_atual = {{ lang | tojson }};
function showBtn(lang_btn) {
    display = document.getElementById("lang-btn")
    if (lang_btn == lang_atual){
        display.style.display = "none"
    } else {
        display.style.display = "block"
    }
}

function editarNome() {
    display = document.getElementById("nome-form");
    if (display.style.display != "flex"){
        display.style.display = "flex";
    } else {
        display.style.display = "None";
    }
}

function toggleDropdown() {
    const menu = document.getElementById("dropdown-menu");
    menu.style.display = menu.style.display === "flex" ? "none" : "flex";
}

function selecionarImagem(img) {
    // atualiza preview
    document.getElementById("profile-preview").src =
        "/static/logos/" + img;

    // envia para backend (opcional via fetch)
    fetch("/atualizar-foto", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({ imagem: img })
    });
}
</script>
{% endblock %}