{% extends 'index.html' %}
{% block centro %}
<link rel="stylesheet" href="../static/styles/vault.css">
<!-- CENTRO -->
<style>

</style>
<div class="main">
    <h1 class="title oblique">{{ _("maxs vault") }}</h1>
    <h3 class="subtitle">{{ _("ends in") }} {{ vault_data[1] }} {{ _("day") }}{% if vault_data[1] > 1 %}s{% endif %}
    </h3>
    
    <div class="cards-display">
        {% for carta in cartas %}
            <div class="card-slot {{ carta.raridade }}">
                <div class="card-area">
                    <img class="img-card" src="{{ url_for('static', filename='images/' + carta.carta_img) }}" alt="{{ carta.carta_nome}}">
                </div>
                <div class="carta_raridade {{ carta.raridade }}">{{ carta['raridade']}}</div>
                <div class="carta_nome">{{ carta['carta_nome']}}</div>
                <div class="button-area">
                    {% set desativado = user.pontos < 1000 or carta.has_purshased %}
                    <button class="button item_button {% if desativado %}desativado{% endif %}"
                        {% if desativado %}disabled{% endif %}
                    onclick="comprarCartaVault('{{ carta.carta_id }}')">
                    {% if carta.has_purshased %}
                        {{ _("obtained") }}
                    {% else %}
                        1000 {{ _("points") }}
                    {% endif %}
                    </button>
                </div>
            </div>
        {% endfor %}
    
    </div>

    <div class="max-img">
        <img src="{{ url_for('static', filename='extras/Maximilien.png') }}" alt="Maximilien" class="max tooltipClass" data-tooltip={% if lang == "en" %}"Welcome to my vault!"{% endif %}>
        <div class="max-shadow"></div>
    </div>
</div>


<script>
function comprarCartaVault(id) {
    const btn = event.target;

    if (btn.disabled) return;
    
    fetch("/comprar-carta-vault", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({ id: id })
    })
    .then(res => res.json())
    .then(data => {
        if (data.success) {
            alert(data.msg);
            location.reload();

            // 🔥 atualizar UI sem reload
            atualizarPontos(data.pontos);
        } else {
            alert(data.erro);
        }
    });
};
</script>
{% endblock %}
