.grid-cartas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 20px;
    padding: 20px;
    background: var(--grid-background);
    margin-bottom: 75px;
    border-radius: 12px;
    box-shadow: 0 4px 10px var(--background-overlay);
}
.apagada {
    opacity: 0.3;
    filter: grayscale(100%);
}
.card-info {
    margin-top: 6px;
    display: flex;
    border-radius: 10px;
    width: 186px;
    color: var(--light-text);
    background-color: var(--main-dark-color);
    border: 1px solid var(--main-light-color);
    padding: 8px 22px;
    justify-content: center;
    align-items: center;
}

.container {
  display: flex;
}

.smll-btn {
    background-color: var(--main-color);
    border: none;
    width: 100px;
    padding: 6px 0;
    border-radius: 8px;
    color: var(--light-text);
    cursor: pointer;
    position: relative;
}

.toggle-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 14vw;
    margin-left: auto;
    padding-bottom: 10px;
    color: var(--single-text);
}

/* Switch*/
.switch {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.switch + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

.switch--shadow + label {
  padding: 2px;
  width: 60px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 60px;
}

.switch--shadow + label:before,
.switch--shadow + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: '';
}
.switch--shadow + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: all 0.4s;
}
.switch--shadow + label:after {
  width: 32px;
  background-color: var(--light-text);
  border-radius: 100%;
  box-shadow: 0 2px 5px var(--background-overlay);
  transition: all 0.4s;
}

.switch--shadow:checked + label:before {
  background-color: var(--sucess-color-1);
}
.switch--shadow:checked + label:after {
  transform: translateX(30px);
}

#card-overlay{
  position:fixed;
  inset:0;
  background:var(--background-overlay);
  display:none;
  justify-content:center;
  align-items:center;
  z-index:5000;
}

#card-view{
  display:flex;
  gap:5vw;
  align-items:center;
  justify-content: center;
  background-color: var(--darkest-color);
  border: 8px solid var(--main-light-color);
  padding: 12vh 8vw;
  border-radius: 50px;
  color: var(--light-text);
  width: 60vw;
  position: relative;
}

#modal-card{
  transform:scale(.7);
  transition:.25s;
}

#card-overlay.open{
  display:flex;
}

#card-overlay.open #modal-card{
  transform:scale(1);
}

#card-info{
  line-height: 1.8;
}

.close-btn {
  position: absolute;
  top: 45px;
  right: 45px;
  border-radius: 22px;
  padding: 8px;
  width: 100px;
  background: var(--button);
  color: var(--light-text);
  cursor: pointer;
}

/* RESPONSIVIDADE ========================== */
@media (max-width: 1380px) {
  .grid-cartas {
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .toggle-button {
    width: 30vw;
  }
  .grid-cartas {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    justify-items: center;
  }
  .card-wrapper {
    width: 200px;
    height: 360px;
  }
  .card-info {
    width: 184px;
    font-size: 16px;
    padding: 8px 8px;
}

}

@media (max-width: 480px) {
  .toggle-button {
    width: 45vw;

  }
  .card-wrapper {
    width: 160px;
    height: 230px;
  }
  .grid-cartas {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 20px 0;
    padding: 10px 0 20px;
  }
  .card-info {
    width: 144px;
    font-size: 12px;
  }
  #card-view{
    flex-direction: column;
    gap: 2vh;
  }
  #card-info {
    line-height: 1.2;
  }
  .close-btn {
    top: 30px;
    right: 30px;
    width: 60px;
  }
}