body {
    margin: 0;
    font-family: "Big Noodle Titling";
    background-color: #d9e1e8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* container */
.login-container {
    background: linear-gradient(135deg, var(--main-color), var(--main-dark-color));
    padding: 30px;
    border-radius: 12px;
    width: 300px;
    text-align: center;
    color: white;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

.login-container h1 {
    margin-bottom: 20px;
}

/* inputs */
.login-container input {
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin-bottom: 12px;
    outline: none;
}

/* foco bonito */
.login-container input:focus {
    box-shadow: 0 0 0 2px #2f6fd6;
}

/* botão */
.login-container button {
    width: 96%;
    padding: 10px;
    background-color: #2f6fd6;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.login-container button:hover {
    transform: scale(1.03);
}

/* logo */
.img-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img {
    width: 120px;
    margin-bottom: 10px;
}
.title {
    font-size: 30px;
    font-weight: 600;
    padding-top: 1vh;
}
/* erro */
.erro {
    color: #ffb3b3;
    margin-top: 10px;
    font-size: 16px;
}

/* link extra */
.extra {
    margin-top: 10px;
    font-size: 16px;
}

.extra a {
    color: #8ab4ff;
    text-decoration: none;
}

.extra a:hover {
    text-decoration: underline;
}

/* pequeno ajuste para diferenciar */
.login-container h1 {
    margin-bottom: 15px;
}

/* inputs mais espaçados */
.login-container input {
    margin-bottom: 10px;
}

/* botão destaque */
.login-container button {
    margin-top: 5px;
}

.show-pass {
    display: flex;
    flex-direction: row-reverse;
}
.show-pass input {
    width: 10%
}

p.label {
    margin-bottom: 4px;
    font-size: 16px;
}
/* From Uiverse.io by Yaya12085 */ 
.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: var(--main-light-color);
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 300px;
  font-size: 14px;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: .5rem 0;
  color: white;
  transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
  background-color: #fff;
  font-weight: 600;
  color: var(--main-color);
}
/* ----------------------- */
/* 📱 responsivo */
@media (max-width: 480px) {
    .login-container {
        width: 250px;
    }
}