.container {
    padding: 0 40px;
    margin: auto auto 100px;
}

.prateleira {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    width: 70vw;
    margin: auto;
    gap: 20px;
}

.prateleira-divider {
    border: var(--main-color) solid 1px;
    width: 100%;
    margin: 5vh 0 3vh;
}

.item {
    border: 6px solid var(--main-color);
    width: 28vw;
    height: 18vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-img{
    height: 32vh;
}

.item_name {
    font-size: 20px;
    font-weight: 600;
    height: 20px;
    padding: 10px;
}

.item_description {
    height: 100%;
}

.item_button {
    height: 10vh;
    padding: 10px;
}

.item_img {
    border-radius: 50%;
    width: 80px;
    padding: 12px;
    margin-bottom: 4px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    height: 10vh;
    width: auto;
}

.desativado {
    background-color: var(--main-light-color);
    opacity: 0.8;
    cursor: default;
    transform: none;
}

.especial {
    border: 6px solid mediumpurple;
}

.prateleira.pacotaco {
    margin-bottom: 20px;
}
.item.promotion_pack {
    grid-column: 1 / span 2;
    width: 64vw;
    height: 24vh;
    border-color: #e65022;
}
.item.promotion_pack .item_name {
    font-size: 24px;
    height: 24px;
    padding: 12px 12px 36px;
}

/* RESPONSIVIDADE ========================== */
@media (max-width: 1380px){
    h1 {
        margin: 2vh 0;
    }
    .item {
        width: 34vw;
        height: 26vh;
    }
    .item-img {
        height: 40vh;
    }
    .item_img {
        width: 66px;
        padding: 10px;
        margin-bottom: auto;

    }
}
@media (max-width: 768px) {
    .prateleira {
        width: 80vw;
        gap: 10px;
    }
    .item {
        width: 34vw;
        height: 24vh;
    }
    .item_name {
        font-size: 16px;
    }
    .item_description {
        font-size: 12px;
        padding: 0 10px;
    }

}

@media (max-width: 480px) {
    .container {
        padding: 0 10px;
    }
    .prateleira {
        width: 90vw;
    }
    .item {
        width: 40vw;
    }
    .item-img {
        height: 32vh;
    }
    .item_name {
        font-size: 12px;
    }
    .item_description {
        font-size: 10px;
        padding: 6px 10px;
    }
    .item_img {
        width: 12vw;
        padding: 10px;
    }
    .img {
        height: 12vw;
        width: auto;
    }
    .item.promotion_pack {
        width: 84vw;
    }
    .item.promotion_pack .item_name {
        font-size: 20px;
        height: 20px;
        padding: 12px;
    }
}