.config-container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    color: var(--main-color);
}

.profile-img-container img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: var(--main-color);
    padding: 10px;
    object-fit: cover;
}

.dropdown {
    margin-top: 10px;
    position: relative;
}

.dropdown-btn {
    background: var(--main-color);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.img-container {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: 5px solid transparent;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-img {
    height: 52px;
    width: auto;
}

.img-container:hover {
    border-color: var(--main-light-color);
}

.name-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    color: var(--main-color);
}

.xp_field {
    background: linear-gradient(135deg, var(--main-color), var(--main-dark-color));
    color: white;
    padding: 12px 18px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    letter-spacing: 0.5px;
    margin-top: 20px;
}

.logoff_button {
    padding: 10px;
}

.progress_xp_bar {
    width: 20vw;
    height: 20px;
    background-color: var(--darkest-color);
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 0;
}

.progress_xp {
    height: 100%;
    background: linear-gradient(90deg, var(--sucess-color-2), var(--sucess-color-1));
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    transition: width 0.4s ease;
}