.config-container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-img-container img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: var(--main-color);
    padding: 10px;
    object-fit: cover;
}

.dropdown {
    margin-top: 10px;
    position: relative;
}

.dropdown-btn {
    background: var(--main-color);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.img-container {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: 5px solid transparent;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-img {
    height: 52px;
    width: auto;
}

.img-container:hover {
    border-color: var(--main-light-color);
}

.xp_field {
    background: linear-gradient(135deg, var(--main-color), var(--main-dark-color));
    color: white;
    padding: 12px 18px;
    border-radius: 10px;
    font-weight: bold;
    display: inline-block;
    border: 1px solid var(--main-light-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    letter-spacing: 0.5px;
    margin-top: 20px;
    width: 320px;
}


.progress_xp_bar {
    width: 20vw;
    height: 20px;
    background-color: var(--darkest-color);
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 0;
}

.progress_xp {
    height: 100%;
    background: linear-gradient(90deg, var(--xp-color-2), var(--xp-color-1));
    color: white;
    display: flex;
    align-items: center;
    transition: width 0.4s ease;
}

.name-section {
    display: block;
}
.name-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    color: var(--main-color);
    width: 320px;
    border-bottom: 1px solid var(--main-color);
}
.name-display button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nome-edit-area {
    width: 320px;
    margin-top: 4px;

}
.nome-edit {
    border-color: var(--main-color);
    border-radius: 20px 0 0 20px;
    width: 20vw;
    font-size: 14px;
    padding-left: 18px;
}
.nome-edit-btn {
    border: var(--main-color) 2px solid;
    background-color: white;
    border-radius: 0 20px 20px 0;
    padding: 10px;
}

.logoff_button {
    padding: 10px;
}

.container > p {
    text-align: justify;
    width: 80vw;
    margin: auto;
    padding-bottom: 10px;
}

